@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kaisei+Decol&display=swap");
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/bg2.jpg");
    font-family: "Kaisei Decol", serif;
    font-family: "Fira Sans", sans-serif;
    color: white;
}

.head-wrapper {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 100vw;
    text-align: center;
}

.heading {
    font-family: 'Petit Formal Script', cursive;
    font-weight: bold;
    color: white;
}

.hospitals {
    margin-left: 7vw;
}

label {
    font-size: 1rem;
}

.selectlist {
    width: 28vw;
    margin-top: 2vh;
}

.cards-list {
    padding-top: 5vh;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}



.hospital-card {
    width: 40vw;
    border-radius: 2vw;
    display: inline-block;
    margin-left: 7vw;
    margin-top: 5vh;
    padding: 2vw;
    background-color: #ffffff;
    color:#090124;
    box-shadow: 0px 8px 20px #9bacf76c;
}

.hospital-card:hover {
    border: 2px solid #04082ce3;
    z-index: 30;
    transform: scale(1.02);
  }


@media screen and (max-width: 480px) 
{
    .carousel-item {
        height: 40vh;
    }
    .image{
        height: 40vh;
    }
    .selectlist{
        width: 50vw;
    } 
}

